* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}
#inicio {
  margin: auto;
}

.pagina {
  width: 1000px;
  margin: auto;
  color: #013094;
  padding: 50px;
  border: #000000;
}

.mrg50B {
  margin-bottom: 50px;
}
.topo {
  text-align: center;
  font-family: "Schoolwork";
  font-size: 5rem;
  background-color: #f0d438;
}
.menu {
  text-align: center;
  font-family: "SweetTalk";
  font-size: 1.3rem;
  background-color: #390d9e;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  width: 215px;
}
.menu ul li:hover {
  background-color: #512ea1;
  transition: 0.5s;
}
a:link {
  color: #0000ff;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #f30909;
}

#inicio {
  text-align: center;
}

#tabela {
  align-items: center;
  text-align: center;
  margin: auto;
  width: 200px;
  background-color: #fbff07ee;
  margin-bottom: 15px;
}

#cadastro {
  text-align: center;
  margin: auto;
  width: 200px;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0d438;
  transition: 0.5s;
  margin-bottom: 25px;
}
#inicial {
  text-align: center;
  margin: auto;
  width: 200px;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0d438;
  transition: 0.5s;
  margin-bottom: 25px;
}

body {
  background-image: url("../img/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
